body {
    overflow: hidden;
}

@keyframes move_right {
    from {left: 150%;}
    to {left: -200%}
}

#gradient {
    animation: move_right 20s infinite linear;
    position: absolute;
    top:-2%;
    left: -2%;
    width: 210vw;
    height: 110vh;
    z-index: -100;
    background: linear-gradient(to right, #E0B0D5, yellow, #E0B0D5);
}

#answers {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    border-top: 3px solid black;
    position:absolute;
    left: -0.05%;
}

button {
    /* width: 400px;
    height: 150px; */
    transition: 0.2s;
    width: 40%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 7%;

    display: block;
    /* margin: auto; */
    font-size: 2em;
    background-color: #AEE5D8;
    color:black;
    border-radius: 4%;
    border-width: 5px;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

#screenpic {
    left: 50%;
    transform: translate(-50%,0);
    max-width: 40%;
    max-height: 400px;
    display: block;
    margin: auto;
    position: absolute;
}

#screenvid {
    left: 50%;
    transform: translate(-50%,0);
    /* border: 5px solid red; */
    max-width: 40%;
    max-height: 400px;
    display: block;
    margin: auto;
    position: absolute;
}

button:hover{
    cursor: pointer;
    background-color: #8bF0Bd;
    color: #E0B0D5;
    transition: 0.2s;
    border-color: mediumaquamarine;
}

body {
    background-color: #E0B0D5;
    font-family: 'inconsolata-font', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.inconsolata-font {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }